* {
  --fuente-montserrat: "Montserrat Alternates", sans-serif;
  --fuente-onest: "Onest", sans-serif;
  --fuente--nunito: "Nunito", sans-serif;

  font-family: var(--fuente--nunito);
}

#ideas-principales-contenedor h3,
#mision-vision-contenedor h3,
#vision-contenedor h3 {
  font-family: var(--fuente-montserrat);
}

#ideas-principales-contenedor > div > article,
#mision-vision-contenedor > div > article,
#descripcion-proyecto-contenedor .descripcion-proyecto-texto-contenedor,
.contenedor-cards-participantes .card {
  background-color: #f9fbf2 !important;
}

h1,
h2 {
  font-family: var(--fuente-onest);
  color: #40513b;
  font-weight: bold;
}

h1.texto-que-es-instarama {
  color: #ffffff !important;
}

#valores-contenedor h2 {
  font-size: 2rem !important;
  font-family: var(--fuente-montserrat);
  color: #ffffff;
}

h1 {
  font-size: 4rem;
}

#valores-contenedor p {
  font-size: 1.5rem;
}

#valores-lista-contenedor strong {
  font-family: var(--fuente-montserrat);
  font-size: 1.2rem;
}

#valores-lista-contenedor p {
  font-size: 1.1rem;
}

#valores-lista-contenedor > div > div:hover {
  background-color: #3d6441;
}

header {
  font-family: var(--fuente-onest) !important;
}
header p {
  font-size: 2rem !important;
}

#descripcion-proyecto-contenedor .descripcion-titulo {
  font-family: var(--fuente-onest);
}

#descripcion-proyecto-contenedor .descripcion-texto {
  font-size: 1.2rem;
}

footer {
  font-size: 1.3rem;
  background-color: #40513b !important;
}

footer * {
  color: black !important;
}

#descripcion-principal-contenedor {
  font-size: 1.2rem !important;
}

a {
  font-family: var(--fuente-onest);
}

/* Estilos para la Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #40513b;
  padding: 15px 50px;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-nav a {
  color: #ffffff !important;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

/* Estilos para la Hero Section */
.hero-header {
  background-color: #f9fbf2;
  color: #333333;
  text-align: center;
  padding: 40px 20px;
}

.hero-header h1 {
  font-size: clamp();
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-header p {
  font-size: 1rem;
  margin-top: 10px;
  color: #333333;
  text-transform: uppercase;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/landing/fondoInstaRama.jpg");

  /* Propiedades para que la imagen cubra toda la pantalla de forma perfecta */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Se queda fija al hacer scroll */
  min-height: 100vh;
}

.card-img-top {
  height: 430px;
  object-fit: cover;
  object-position: center;
}

#titulo-contenedor .titulo-explicativo {
  font-family: var(--fuente-onest);
  font-size: 2rem;
  color: #ffffff;
}

.contenedor-cards-participantes .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contenedor-cards-participantes .card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem;
}

.contenedor-cards-participantes .card-text {
  max-height: 180px;
  overflow-y: auto;
  text-align: left;
  font-size: 0.95rem;
  line-height: 1.5;
}
